<% messages.map(message => { %>
    <div class="message mouseable">
        <h3><%= message.title %></h3>
        <p><%= message.body %></p>
        <p><%= message.date_time %></p>
        <p>-<%= message.username %></p>
        <% if(user.admin){%>
            <form action="/messages/<%= message.id %>/delete" method="post">
                <button onclick="return confirm('Remove Post?')">Remove Post</button>
            </form>
        <% } %>
    </div>
<% }) %>