<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Messages</title>
</head>
<body>
    <div class="partial">
        <h1 class="mouseable">Messages</h1>
        <div class="user-info mouseable">
            <p>Signed in as: <%= user.username %></p>
            <% if(!isGuest){ %>
                <a href="/log-out">Log out</a>
                <% }else { %>
                    <a href="/">Return to log in</a>
                <%} %>
            </div>
            <% if(hasMessages){ %>
                <div class="messages mouseable">
                    <%- include("partials/messagesList") %>
                </div>
    <% } else { %>
        <h1>No Messages</h1>
    <% } %>
    <div class="new-message mouseable">
    <% if(canPostMessages){ %>
        <h3>Share your thoughts</h3>
        <%- include("partials/newMessage") %>
    <% } else {%>
        <div class="sign-up mouseable transition-background">
        <% if(isGuest) {%>
            <p>Want to see what <br> everyone is talking about?</p>
            <a href="<%= membershipAction.link %>"><%= membershipAction.text %></a>
        <% }else{ %>
            <div>Want to share your thoughts?</div>
            <a href="/join">Join the club</a>
      <% } %>
    <% } %>
    </div>
    </div>
    </div>
</body>
</html>