<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Messages</title>
</head>
<body>
    <div>
        <p>Signed in as: <%= user.username %></p>
        <% if(!isGuest){ %>
            <a href="/log-out">Log out</a>
        <% } %>
    </div>
    <% if(hasMessages){ %>
        <h1>Messages</h1>
        <div class="messages">
          <%- include("partials/messagesList") %>
        </div>
    <% } else { %>
        <h1>No Messages</h1>
    <% } %>
    
    <% if(canPostMessages){ %>
        <h3>Share your thoughts</h3>
        <%- include("partials/newMessage") %>
    <% } else {%>
        <% if(isGuest) {%>
            <div>Want to see what everyone is talking about?</div>
            <a href="<%= membershipAction.link %>"><%= membershipAction.text %></a>
        <% }else{ %>
            <div>Want to share your thoughts?</div>
            <a href="/join">Join the club</a>
      <% } %>
    <% } %>

</body>
</html>